.buttons001{
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: context-menu;
}
.buttons002{
    border: 1px solid white;
    background-color: black;
    color: black;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: context-menu;
}
.buttons003{
    border: 1px solid blue;
    background-color: rgb(183, 243, 18);
    color: black;
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 40px;
    cursor: context-menu;
}
#viens
{
border-style: inset;
margin:5px;
padding:50px;
float:left;
}

#divi
{
float:right;
padding:50px;
}
body {
    background-color: lightblue;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
  }
 h2 {
     text-align: center;
     color: green;
 }
#rez1 {
    font-weight: bold;
   font-size: larger;
    text-align: center;
    size: 20px;
    color: green;
    

}